<div>
  <div class="reddit-item" ng-repeat="item in vm.redditData.data.children">
    <div class="row">
      <div class="text-center col-md-offset-2 col-xs-offset-1 col-sm-offset-0 col-md-1 col-sm-2 col-xs-11">
        <span>{{item.data.ups}}</span>
      </div>
      <div class="text-center col-xs-offset-1 col-sm-offset-0 col-md-2 col-sm-3 col-xs-11">
        <img ng-src="{{item.data.thumbnail}}" alt="">
      </div>
      <div class="col-xs-offset-1 col-sm-offset-0 col-sm-5 col-xs-11">
        <h4>{{item.data.title}}</h3>
        <h5>{{item.data.created_utc | unixFromNow}} by {{item.data.author}}</h4>
        <p>Comments: {{item.data.num_comments}}</p>
      </div>
    </div>
  </div>
</div>
